html{
        background-color: rgb(38, 38, 38);
        scroll-behavior: smooth;
}

/* Custom Scrollbar Styling */
html::-webkit-scrollbar, *::-webkit-scrollbar {
    width: 12px;
}
html::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
    background: #262626;
}
html::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
    background: #975a24;
    border-radius: 6px;
    border: 2px solid #262626;
}
html::-webkit-scrollbar-thumb:hover, *::-webkit-scrollbar-thumb:hover {
    background: #e07c00;
}

/* Firefox */
html, body, * {
    scrollbar-width: thin;
    scrollbar-color: #975a24 #212121;
}